h1 {
  text-align: center;
  color: crimson;
  font-family: 'Oswald', sans-serif;
}
footer {
  text-align: center;
}
.background {
  background-color: gainsboro;
}
a {
  padding-right: 8em;
}
a:visited {
  color: green;
}
a:hover {
  font-weight: bold;
}
a:active {
  text-decoration:none;
}
