div {
  text-align: center;
}
h1, h3 {
  color: crimson;
}
table, th, td {
  border: 1px solid white;
}
table {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  background-color: lightgray;
}
td {
  text-align: center;
  color: darkblue;
}
th {
  color: darkblue;
}
body {
  background-color: black;
}
p, li {
  color: lightgray;
}
