h1, h3, h4 {
  color: crimson;
  font-family: 'Gravitas One', cursive;
}
li {
  font-style: italic;
}
li, p {
  color: darkblue;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  background-color: lightgray;
}
