.text {
  text-align: center;
}
h1, h2 {
  color: crimson;
  font-family: 'Gravitas One', cursive;
}
h3 {
  color: crimson;
}
table, th, td {
  border: 1px solid white;
}
table {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  background-color: lightgray;
}
td {
  text-align: center;
  font-style: italic;
}
th, td, p, li {
  color: darkblue;
}
li {
  font-style: italic;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  background-color: lightgray;
}
