h1 {
  color: crimson;
  font-family: 'Oswald', sans-serif;
}
h2 {
  color: crimson;
  text-decoration: underline;
}
h4 {
  color:crimson;
}
.jumbotron, footer {
  color: darkblue;
}
a:visited {
  color: crimson;
}
a:hover {
  font-weight: bold;
}
a:active {
  text-decoration:none;
}
label {
  color:crimson;
}
